<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<root>
    <servlet>
        <servlet-name>primeiraServlet</servlet-name>
        <servlet-class>br.com.mycompany.astec.Servlet.OiMundo</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>primeiraServlet</servlet-name>
        <url-pattern>/oi/*</url-pattern>
    </servlet-mapping>
</root>
